@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.cuerpo_firma {
  background-image: url('https://i.pinimg.com/originals/d3/ae/3e/d3ae3e84bb6e1c79bda04463f0dff387.jpg');
  background-size: cover;
}

.div_firma {
  border: 3px solid rgb(1, 11, 102);
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgb(1, 11, 102);
  margin: 10px;
  width: 60%;
  height: 100%;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
}

.mi_nombre {
  background-color: rgba(0, 0, 0, 0.719);
  border: 2px solid rgb(172, 154, 0);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(172, 154, 0);
  margin: 10px;
  width: 50%;
  font-size: 25px;
}

.mi_profesion {
  background-color: rgba(0, 0, 0, 0.719);
  border: 2px solid rgb(172, 154, 0);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(172, 154, 0);
  margin: 10px;
  width: 45%;
  font-size: 23px;
}

.youtube {
  color: red;
  display: inline;
  padding: 10px;
}

.instagram {
  color: pink;
  display: inline;
  padding: 10px;
}

.facebook {
  color: blue;
  display: inline;
  padding: 10px;
}

.github {
  color: gray;
  display: inline;
  padding: 10px;
}

.mi_nombre,
.mi_profesion {
  font-family: 'Pixelify Sans', sans-serif;
}


